body{
    background-image:url(Images/thunderstorm-lightnings-dark.jpg);
    background-size: 1440px,700px;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin: 0px;
}
#pageContainer 
{
    width: 1440px;
    margin: 0px auto 0px auto;
    background-color: #5d5d5d;
}
.reset{
    clear: both;
 }
#mainHeading{
float:left;
}
#introText{
margin-left: 500px;
}
#finalFantasy{
    float: left;
    height: 80px;
    width: 220px;
    margin-left: -700px;
    margin-top: 40px;
}
#cyberpunk{
    float: left;
    height: 280px;
    width: 160px;
    margin: 40px 0px 0px 160px;
}
#sabaton{
    float: left;
    height: 170px;
    width: 170px;
    margin: -140px 120px 0px 80px;
}
#pfp{
    float: left;
    height: 300px;
    width: 140px;
    margin: -180px 0px 0px 240px;
}
#cLang{
    float: left;
    height: 100px;
    width: 200px;
    margin: 0px 60px 0px -380px;
}
#shadow{
    float: left;
    height: 200px;
    width: 350px;
    margin: 40px 0px 0px 160px;
}
#initialD{
float: left;
height: 300px;
width: 200px;
margin: -160px 200px 0px 90px;
}
